#Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

#Ports
POSTGRES_PORT=port
BACKEND_PORT=port
FRONTEND_PORT=port

JWT_SECRET=secret_key

NEXT_PUBLIC_API_URL=your_public_api_url
FRONTEND_URL=url